@model List<EntityLayer.Concrete.AppUser>
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Şehir</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td scope="row">@count</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.City </td>
        </tr>
    }
</table>
<a href="/Course/AddCourse/" class="btn btn-outline-primary" style="right:0px;">Yeni Kurs Girişi</a>
</div>