
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/AdminLayout/PartialHead.cshtml")

<body>


    @await Html.PartialAsync("~/Views/AdminLayout/PartialSpinner.cshtml")

    @await Html.PartialAsync("MemberSidebarPartial.cshtml")

    <div class="content">

        @await Html.PartialAsync("~/Views/AdminLayout/PartialNavbar.cshtml")
        @RenderBody()
        @await Html.PartialAsync("~/Views/AdminLayout/PartialFooter.cshtml")
    </div>




    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    @await Html.PartialAsync("~/Views/AdminLayout/PartialScript.cshtml")



</body>

</html>
