
@{
    Layout = null;
}

<link href="~\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~\jquery\dist\jquery.min.js"></script>

<div class="container">
    <br />
    <h3>Sweet Alert Sayfası</h3>
    <button class="btn btn-warning" id="btn1">Kaydet</button>
</div>
<script type="text/javascript">
    $('#btn1').click(function () {
        swal("Hello world", "merhaba");
    })
</script>