@model List<Edukator.EntityLayer.Concrete.Category>

@{
    Layout = "~/Views/AdminLayout/Index.cshtml"; ;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Kurslar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-dark">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-warning">Güncelle</a></td>
                <td><a href="#" class="btn btn-outline-dark">Kurslar</a></td>
            </tr>
        }
    </table>
    <a href="/Category/AddCategory/" class="btn btn-dark">Yeni Kategori Girişi</a>
</div>