@model Edukator.EntityLayer.Concrete.Course
@{
    ViewData["Title"] = "UpdateCourse";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <form method="post">
            <input type="hidden" asp-for="CourseID"/>
            <div class="mb-3">
                <label class="form-label">Kurs Başlığı</label>
                <input type="text" class="form-control" asp-for="Title" />
            </div>
            <div class="mb-3">
                <label class="form-label">Kurs Ücret</label>
                <input type="text" class="form-control" asp-for="Price" />
            </div>
            <div class="mb-3">
                <label class="form-label">Kategori Başlığı</label>
               @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.v , new{@class="form-control"})
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

